.carouselContainer {
  @apply relative w-full overflow-hidden h-auto;
}

.carouselWrapper {
  @apply flex h-auto;
  will-change: transform;
}

.carouselSlide {
  @apply flex-shrink-0 box-border lg:w-1/3 h-auto px-5 pb-10;
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.arrowButton {
  @apply cursor-pointer text-xl text-black dark:text-dark-text hover:text-secondary transition-colors duration-200;
  touch-action: manipulation;
}

.navigationButtons .dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s, transform 0.3s;
}

.dotActive {
  opacity: 1;
  transform: scale(1.25);
}
